/* cleaning up bootstrap */

body {
    font-family: Baskerville;
}


#name-box {
    margin: auto;
    font-size: 64px;
    letter-spacing: 7px;
    color: rgba(0, 0, 0, 0);
    background: white;
}

svg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

#content {
    background: none;
}

@media (min-width: 756px) {
    #name-box {
        position: fixed;
        top: 50%;
        width: 50%;
        height: 100px;
        text-align: center;
        margin: auto;
        transform: translateY(-50%);
    }
    #content {
        margin-top: 50px;
        margin-left: 50%;
    }
}

.pane {
    height: 100vh;
}
