@font-face {
    font-family: Inconsolata-dz;
    src: url("Inconsolata-dz.otf");
}

body {
    font-family: Baskerville;
    background: #f2f2f2;
}


#name-box {
    margin-left: 15px;
    font-size: 64px;
    letter-spacing: 8px;
}

svg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

#content {
    background: none;
    font-family: "Inconsolata-dz";
}

@media (min-width: 756px) {
    #name-box {
        position: fixed;
        top: 50%;
        width: 50%;
        height: 100px;
        text-align: center;
        margin: auto;
        transform: translateY(-50%);
    }
    #content {
        margin-top: 50px;
        margin-left: 50%;
    }
}

.pane {
    height: 100vh;
}
